In [7]:
class myclass:
    x=5
print(myclass)

<class '__main__.myclass'>

In [8]:
class myclass():
    x="Sahiqur Rahman"
print(myclass)

<class '__main__.myclass'>

In [11]:
class myclass:
    x=5
a=myclass()
print(a.x)

5

In [12]:
class myclass:
    x="Sahiqur Rahman"
p1=myclass()
print(p1.x)

Sahiqur Rahman

In [13]:
class myclass:
    a=5
    b=10
    c=5
    total=a+b+c
t1=myclass()
print(t1.total)

20

In [25]:
s=0
i=1
for i in range(5):
    i=i+1
    s=s+i
print(s)

15

In [26]:
s=0
i=1
class myclass:
    for i in range(5):
        i=i+1
        s=s+i
p1=myclass()
print(p1.s)

15

In [32]:
s=0
i=1
n=int(input("Enter you expected Value = "))
class myclass:
    for i in range(n):
        i=i+1
        s=s+i
p1=myclass()
print(p1.s)

Enter you expected Value = 5
15

In [54]:
s=0
i=0
n=int(input("Enter the value of = "))
for i in range(n):
    if i%2==0:
        
        s=s+i
    i=i+1
print(s)

Enter the value of = 10
20

In [62]:
s=0
i=0
n=int(input("Enter the Value of = "))
class myclass:
    for i in range(n):
        if i%2==0:
            s=s+i
        i=i+1
p1=myclass()
print(p1.s)

Enter the Value of = 10
20

In [64]:
a=["sahiq","Abir","Karim","Jabir"]
for i in a:
    print(i)

sahiq
Abir
Karim
Jabir

In [72]:
a=["Sahiq","Abir","Karim","Jarir"]
for i in a:
    print(i)

Sahiq
Abir
Karim
Jarir

In [87]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [92]:
class Person:
    def __init__(a,name,age):
        a.name=name
        a.age=age
p1=Person("Sahiqur Rahman",26)
print(p1.name)
print(p1.age)

Sahiqur Rahman
26

In [94]:
class infromation:
    def __init__(a,name,age,inst):
        a.name=name
        a.age=age
        a.inst=inst
p1=infromation("Sahiqur Rahman",24,"CCNUST")
print(p1.name)
print(p1.age)
print(p1.inst)

Sahiqur Rahman
24
CCNUST

In [98]:
class information:
    def __init__(a,name,age,inst,dof):
        a.name=name
        a.age=age
        a.inst=inst
        a.dof=dof
p1=information("Sahiqur Rahman",24,"CCNUST","01-01-2001")
print(p1.name)
print(p1.age)
print(p1.inst)
print(p1.dof)

Sahiqur Rahman
24
CCNUST
01-01-2001

In [101]:
class person:
    def __init__(a,name,age,course,inst):
        a.name=name
        a.age=age
        a.course=course
        a.inst=inst
p1=person("Sahqiur Rahman",24,"Data Structure","Asp.net")
print(p1.name)
print(p1.age)
print(p1.course)
print(p1.inst)

Sahqiur Rahman
24
Data Structure
Asp.net

In [113]:
class person:
    def __init__(self,name,age,Course):
        self.name=name
        self.age=age
        self.Course=Course
    def __str__(self):
        return f"{self.name}({self.age}){self.Course}"
p1=person("Sahiqur Rahmman --",(23),"--Data Structure")
print(p1)

Sahiqur Rahmman --(23)--Data Structure

In [108]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return f"{self.name}({self.age})"
p1=person("Sahiqur Rahman\t",23)
print(p1)

Sahiqur Rahman	(23)

In [119]:
class person:
    def __init__(self,name,age,course):
        self.name=name
        self.age=age
        self.course=course
    def __str__(self):
        return f"{self.name}{self.age}{self.course}"
p1=person("Sahiqur Rahman --",24,"-- Data Science")
print(p1)

Sahiqur Rahman --24-- Data Science

In [125]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [132]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def myfunction(self):
        print("My name is "+self.name)
        print("I am ",self.age, "years old")
p1=person("Sahiqur Rahman",23)
p1.myfunction()

My name is Sahiqur Rahman
I am  23 years old

In [133]:
class person:
    def __init__(self,name,age,course):
        self.name=name
        self.age=age
        self.course=course
    def myfunction(self):
        print("My name is ",self.name)
        print("I am ",self.age,"Year Old and My course name is",self.course)
p1=person("Sahiqur Rahman",24,"Data Science")
p1.myfunction()

My name is  Sahiqur Rahman
I am  24 Year Old and My course name is Data Science

In [137]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myfuc(abc):
        print("My name is "+abc.name)
p1=person("Sahiqur Rahman",24)
p1.myfuc()

My name is Sahiqur Rahman

In [140]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myfunc(abc):
        print("My name is ",abc.name,"I am current ",abc.age)
a=person("Abir Ahammad.",24)
a.myfunc()

My name is  Abir Ahammad. I am current  24

In [142]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myfunc(sahiq):
        print("My name ",sahiq.name,"I am currently",sahiq.age)
a=person("Sahiq",24)
a.myfunc()

My name  Sahiq I am currently 24

In [149]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=person("Sahiqur  Rahman",23)
p1.age=40
p1.name="Abir Ahammad"
print(p1.name)
print(p1.age)

Abir Ahammad
40

In [151]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=name
p1=person("Sahiqur Rahman",24)
p1.name="Mainuddin Khandar "
p1.age=60
print(p1.name)
print(p1.age)

Mainuddin Khandar
60

In [153]:
del p1.age

In [157]:
print(p1.name)

Mainuddin Khandar

In [158]:
del p1

In [160]:
print(p1.name)
print(p1.age)

NameError: name 'p1' is not defined

# Inheritance

In [166]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [5]:
class person:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def printname(self):
        print(self.fname,self.lname)
p1=person("Sahiqur Rahman",24)
p1.printname()

Sahiqur Rahman 24

In [6]:
class person:
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname
    def outputprint(self):
        print(self.firstname,self.lastname)
p1=person("Sahiqur","Rahman")
p1.outputprint()

Sahiqur Rahman

In [7]:
class student(person):
    def __init__(self,fname,lname):
        person.__init__(self,fname,lname)
        self.fname=fname
        self.lname=lname
    def printout(self):
        print(self.fname,self.lname)
p1=student("Sahiqur","Rahman")
p1.printout()

Sahiqur Rahman

In [9]:
class student(person):
    def __init__(self,fname,lname):
        super(). __init__(fname,lname)
        self.fname=fname
        self.lname=lname
    def printout(self):
        print(self.fname,self.lname)
p1=student("Sahiqur","Rahman")
p2=student("Amir","Hasan")
p3=student("Saifur","Rahman")
p1.printout()
p2.printout()
p3.printout()

Sahiqur Rahman
Amir Hasan
Saifur Rahman

In [8]:
class student(person):
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def printOut(self):
        print(self.fname,self.lname)
    def __init__(self,fname,lname):
        super().__init__(fname,lname)
        self.grdyear=2023
p1=student("Sahiqur ","Rahman")
print(p1.grdyear)

2023

In [9]:
class student(person):
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def printout(self):
        print(self.fname,self.lname)
    def __init__(self,fname,lname):
        super().__init__(fname,lname)
        self.grdyear=2023
p1=student("Sahiqur ","Rahman")
print(p1.grdyear)

2023

In [18]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

In [23]:
class person:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def printname(self):
        print(self.fname,self.lname)
class student(person):
        def __init__(self,fname,lname):
            super().__init__(fname,lname)
            self.graduationyear=2023
p1=student("Sahiqur","Rahman")
print(p1.graduationyear)

2023

In [27]:
class sahiq:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def printOut(self):
        print(self.fname,self.lname)
class manik(sahiq):
    def __init__(self,fname,lname):
        super().__init__(fname,lname)
        self.year=2022
p1=manik("Sahiqur","Rahman")
print(p1.year)

2022

In [36]:
class parents:
    def __init__(self,fname,lname,year):
        self.fname=fname
        self.lname=lname
        self.year=year
    def printout(self):
        print(self.fname,self.lname,self.year)
p1=parents("Sahiqur","Rahman ----",24)
p1.printout()

Sahiqur Rahman ---- 24

In [38]:
class parents:
    def __init__(self,fname,lname,year):
        self.fname=fname
        self.lname=lname
        self.year=year
    def printout(self):
        print(self.fname,self.lname,self.year)
p1=parents("Fahim","Muntasir",24)
p1.printout()

Fahim Muntasir 24

In [43]:
class parents:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def printout(self):
        print(self.fname,self.lname)
class child(parents):
    def __init__(self,fname,lname):
        super().__init__(fname,lname)
        self.year=2023
p1=child("Sahiqur","Rahman")
print(p1.year)
p1.printout()

2023
Sahiqur Rahman

In [44]:
class parents:
    def __init__(self,fname,lname,year):
        self.fname=fname
        self.lname=lname
        self.year=year
    def printout(self):
        print(self.fname,self.lname,self.year)
class child(parents):
    def __init__(self,fname,lname,year):
        super().__init__(fname,lname,year)
        self.year=year
p1=child("Sahiqur","Rahman",24)
p1.printout()

Sahiqur Rahman 24

In [6]:
class child:
    def __init__(self,fname,lname,year):
        self.fname=fname
        self.lname=lname
        self.year=year
    def printOut(self):
        print(self.fname,self.lname,self.year)
class parents(child):
    def __init__(self,fname,lname,year):
        super().__init__(fname,lname,year)
        self.year=year
p1=parents("Sahiqur","Rahman",2024)
p2=parents("Fahim ","Muntasir",2023)
p1.printOut()
p2.printOut()

Sahiqur Rahman 2024
Fahim  Muntasir 2023

# Iterators

In [10]:
mytuples=("Sahiq","Robin","Tanim","Fahim")

In [11]:
type(mytuples)

tuple

In [12]:
myiter=iter(mytuples)
print(next(myiter))

Sahiq

In [13]:
print(next(myiter))

Robin

In [14]:
print(next(myiter))
print(next(myiter))

Tanim
Fahim

In [17]:
myiter="Sahiqur"
item=iter(myiter)
print(next(item))
print(next(item))
print(next(item))
print(next(item))
print(next(item))
print(next(item))
print(next(item))

S
a
h
i
q
u
r

In [18]:
mytuples=["Sahiq","Tanim","Abir","Hasan","Robin","Mainuddin"]
for x in mytuples:
    print(x)

Sahiq
Tanim
Abir
Hasan
Robin
Mainuddin

In [19]:
item="Sahiqur Rahman Sahiq"
for x in item:
    print(x)

S
a
h
i
q
u
r

R
a
h
m
a
n

S
a
h
i
q

In [2]:
item="Sahiqur Rahman Sahiq"
for x in item:
    print(x)

S
a
h
i
q
u
r

R
a
h
m
a
n

S
a
h
i
q

In [6]:
mytuples=("Sahiq","Robin","Tanim","Fahim")
x=iter(mytuples)
for d in x:
    print(d)

Sahiq
Robin
Tanim
Fahim

In [7]:
mytuples="Sahiq"
for x in mytuples:
    print(x)

S
a
h
i
q

In [11]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [18]:
class Myname:
    def __iter__(self):
        self.a=0
        return self
    def __next__(self):
        x=self.a+1
        self.a+=1
        return x
Myclass=Myname()
Myiter=iter(Myclass)
print(next(Myiter))
print(next(Myiter))
print(next(Myiter))
print(next(Myiter))
print(next(Myiter))

1
2
3
4
5

In [2]:
class Myname:
    def __iter__(self):
        self.a=0
        return self
    def __next__(self):
        s=self.a+1
        self.a+=1
        return s
Myclass=Myname()
Myiter=iter(Myclass)
print(next(Myiter))
print(next(Myiter))
print(next(Myiter))
print(next(Myiter))
print(next(Myiter))

1
2
3
4
5

In [2]:
class MyName:
    def __iter__(self):
        self.a=0
        return self
    def __next__(self):
        if self.a<20:
            s=self.a+1
            self.a+=1
            return s
        else:
            raise StopIteration
Myclass=MyName()
Myiter=iter(Myclass)
for x in Myiter:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20